<div class="container">
    <div class="perfil_contenedor">
        <section class="section_Description">
            <article>

                <div class="contenedor_Section">
                    <h2 class="title">Sobre Mi</h2>
                    <p class="text">Mi nombre es Andres Felipe Yaruro Manjarres, soy estudiante de ingenieria de
                        sistemas de la Universidad Popular del Cesar. Actualmete estoy cursando el septimo semestre de
                        mi carrera;
                        me apasiona el desarrollo web donde he aprendido el manejo del frontend y backend de los cuales
                        me he
                        especializado más que todo en el frontend, soy un joven honesto y trabajador, he desarrollado
                        habilidades de
                        trabajo en equipo entre otras.
                    </p>
                </div>
                <div class="contenedor_Section">
                    <h2 class="title">Herramientas y Tecnologías</h2>
                    <p class="text">Cuento con conocimientos en la programación orientada a
                        objetos, angular, manejo de bases de datos con SqlServer, creación de Api-Rest con .Net, Html,
                        Css, C#, Bootstrap,
                        también en el desarrollo de aplicaciones móviles con conocimientos en Flutter y Dart, también
                        poseo conocimientos en Firebase
                        y para versionamiento del codigo cuento con algunos conocimientos en Git y Github.
                    </p>

                    <div class="container_tecnologias">
                        <img src="../../assets/1.png" alt="" class="item">
                        <img src="../../assets/2.png" alt="" class="item">
                        <img src="../../assets/3.png" alt="" class="item">
                        <img src="../../assets/6.png" alt="" class="item">
                        <img src="../../assets/7.png" alt="" class="item">
                        <img src="../../assets/4.png" alt="" class="item">
                        <img src="../../assets/5.png" alt="" class="item">
                        <img src="../../assets/8.png" alt="" class="item">
                        <img src="../../assets/9.png" alt="" class="item">
                        <img src="../../assets/10.png" alt="" class="item">
                        <img src="../../assets/11.png" alt="" class="item">
                    </div>

                </div>
                <div class="contenedor_Section">
                    <h2 class="title">Contacto</h2>
                    <div class="container_contacto">

                        <div class="item_contacto">

                            <img src="../../assets/ubicacion.svg" alt="" class="icon">
                            <p class="descrition">Valledupar-Cesar Colombia</p>
                        </div>

                        <div class="item_contacto">
                            <img src="../../assets/whatsapp.svg" alt="" class="icon">
                            <p class="descrition">3046487945</p>
                        </div>

                        <div class="item_contacto">
                            <img src="../../assets/telefono.svg" alt="" class="icon">
                            <p class="descrition">3046487945</p>
                            <p class="descrition">3106345800</p>
                        </div>

                        <div class="item_contacto">
                            <img src="../../assets/linkedin.svg" alt="" class="icon">
                            <a href="https://www.linkedin.com/in/andres-felipe-yaruro-manjarres-b19bb3212/" target="_blank" class="link">Andres Yaruro</a>
                       
                            
                        </div>

                        <div class="item_contacto">
                            <img src="../../assets/git.svg" alt="" class="icon">
                            <a href="https://github.com/afyaruro" target="_blank" class="link">afyaruro</a>
                        </div>

                    </div>

                </div>
            </article>
        </section>
        <section class="section_Image">
            <figure class="container_imagen_perfil">
                <img src="../../assets/_DSC0302.JPG" alt="" class="imagen-perfil">
            </figure>
            <h3 class="mi_name">Andrés Felipe Yaruro Manjarres</h3>
            <h3 class="mi_name area">Frontend Developer</h3>
            <a download="Andres_Yaruro_CV.pdf" href="../../assets/CVPortafolio.pdf" class="btn_descargar">Descargar CV</a>
        </section>
    </div>
</div>